<form [formGroup]="formFiltersGroup" class="p-inputgroup">
  <div class="filters  gap-3" style="display: flex;">
    <div>
      <label style="justify-content: flex-end;" for="date">Data</label>
      <p-calendar formControlName="data"   id="date" selectionMode="range" dateFormat="dd/mm/yy" [readonlyInput]="true"></p-calendar>
    </div>
    <div class="p-float-label  gap-6">
      <label style="justify-content: flex-end;" for="username">Nome</label>
      <input type="text" style="width: 6rem;" id="username" pInputText formControlName="nome" />
    </div>
  </div>
  <div class="p-button-filter">
    <button style="width: 2rem!important; padding: 0.3rem 0!important;" class="p-ripple p-element p-button p-component .p-button-filter p-button-agendar" (click)="showDialgAgendar()" >
      <span class="pi pi-search p-button-icon ng-star-inserted"></span>
    </button>
  </div>

</form>

<div class="border-round">
<p-carousel
  [value]="budgets"
  [numVisible]="2"
  [numScroll]="2"
  (onPage)="handlePageChange($event)"
  orientation="vertical"
  verticalViewPortHeight="500px"
  [responsiveOptions]="responsiveOptions"
  [showIndicators]="false"
  [ngClass]="'seu-componente'"
>
  <ng-template let-budget pTemplate="item"  style="border: 1px solid lightgray; border-radius: 8px; padding: 10px;">
    <div class="bordar-carousel">
          <div class="flex center gap-3 col-12">
            <div class="p-mb-1 col-8">
              <p>{{"Cliente: " + budget.clientName }}</p>
            </div>
            <div class="p-mt-0 p-mb-3 align-items-end col-4">
              <p>Valor:{{ budget.tattooValue }}</p>
            </div>
          </div>
          <div class=" flex center gap-3 description">
            <p class="p-mb-1 col-12 ">{{"Descrição: " + budget.desc }}</p>
           <p></p>
          </div>
      <div class="flex center gap-3 center historic-balls">
        <button class="p-ripple p-element p-button p-component p-button-icon-only p-button-cancelado" (click)="confirm1($event, budget); $event.stopPropagation()" >
          <span class="pi pi-times p-button-icon ng-star-inserted"></span>
        </button>
        <button class="p-ripple p-element p-button p-component p-button-icon-only p-button-agendar" (click)="showDialgAgendar()" >
          <span class="pi pi-calendar-plus p-button-icon ng-star-inserted"></span>
        </button>
      </div>
    </div>
  </ng-template>
</p-carousel>
<p-toast class="custom-toast"></p-toast>
<p-confirmDialog></p-confirmDialog>

<div class="text-center">
  {{ currentIndex == null ? 1 : currentIndex }} de {{ budgets.length }}
</div>

</div>
<p>Valor arrecadado: {{ returnsAmountCollected() }}</p>
<app-modal-agendamento></app-modal-agendamento>
