<p-tabView styleClass="tabview-custom">
    <!-- Orçamento -->
    <p-tabPanel>
      <ng-template pTemplate="header">
        <i class="pi pi-calculator"></i>
      </ng-template>
      <form [formGroup]="budgetForm" (ngSubmit)="generateBudget()">          
        <div class="field" >
          <label for="valorcm" class="block">Valor do cm</label>
          <p-inputNumber inputId="valorcm" (onInput)="generateBudget()" formControlName="valorcm" mode="currency" currency="BRL" locale="pt-BR" [showButtons]="true" [min]="1" [step]="0.5"> </p-inputNumber>          
          <small class="p-error block" *ngIf="budgetForm.get('valorcm')?.invalid && budgetForm.get('valorcm')?.dirty"> valor obrigatório</small>
        </div>
  
        <div class="field" >
          <label for="cm" class="block">Tamanho (cm)</label>
          <p-inputNumber inputId="cm" (onInput)="generateBudget()" formControlName="cm" suffix="cm" mode="decimal" [minFractionDigits]="2" [maxFractionDigits]="2" [showButtons]="true" [min]="1"> </p-inputNumber>          
          <small class="p-error block" *ngIf="budgetForm.get('cm')?.invalid && budgetForm.get('cm')?.dirty"> tamanho da tatuagem obrigatória</small>
        </div>

        <p-accordion>
          <p-accordionTab header="Informações da tattoo">
            <div class="field">
              <label class="block">Estilo</label>        
              <div class="overflow-y-auto surface-overlay p-2 border-primary-500 border-2 border-round">
                <div style="width: 600px;">
                  <p-selectButton id="style"  [options]="styles" formControlName="style" [multiple]="true" optionLabel="name" optionValue="value"></p-selectButton>
                  <small class="p-error block" *ngIf="budgetForm.get('style')?.invalid && budgetForm.get('style')?.dirty"> Estilo obrigatório</small>
                </div>
              </div>
            </div>
            
            <div class="field" >
              <label class="block">Detalhes</label>        
              <div class="overflow-y-auto surface-overlay p-2 border-primary-500 border-2 border-round">
                <div style="width: 600px;">
                  <p-selectButton id="details" [options]="details" formControlName="details" [multiple]="true" optionLabel="name" optionValue="value"></p-selectButton>
                </div>
              </div>
            </div>

            <div class="field" >
              <label for="client" class="block">Nome do cliente</label>
              <input type="text" id="client" pInputText formControlName="client"/>
              <small class="p-error block" *ngIf="budgetForm.get('client')?.invalid && budgetForm.get('client')?.dirty">Nome do cliente é obrigatório</small>
            </div>
      
            <div class="field" >
              <label for="draw" class="block">Desenho</label>
              <input type="text" id="draw" pInputText formControlName="draw"/>
              <small class="p-error block" *ngIf="budgetForm.get('draw')?.invalid && budgetForm.get('draw')?.dirty"> Nome do desenho obrigatório</small>
            </div>
  
            <div class="field" >
              <label for="bodyLocal" class="block">Local no corpo</label>
              <input type="text" id="bodyLocal" pInputText formControlName="bodyLocal"/>
              <small class="p-error block" *ngIf="budgetForm.get('bodyLocal')?.invalid && budgetForm.get('bodyLocal')?.dirty"> Local do corpo obrigatória</small>
            </div>

            <div class="field" >
              <label for="bodyLocal" class="block">Local no corpo</label>
              <div class="overflow-y-auto surface-overlay p-2 border-primary-500 border-2 border-round">
                <div style="width: 600px;">
                  <p-selectButton id="bodyLocal" [options]="bodyLocal" formControlName="bodyLocal" optionLabel="name" optionValue="value"></p-selectButton>
                </div>
              </div>
            </div>
          </p-accordionTab>
        </p-accordion>
        
  
        <div class="formgroup-inline mt-3">
          <div class="field">
            <p-button type="submit" accessKey="enter" label="Orçar" [disabled]="budgetForm.invalid"></p-button>
          </div>
  
          <p-button type="button" label="Limpar" severity="info" (onClick)="resetForm()"></p-button>
        </div>
      </form>
    </p-tabPanel>
    <!-- TAXAS -->
    <p-tabPanel>
      <ng-template pTemplate="header">
        <i class="pi pi-cog"></i>          
      </ng-template>       

      <form [formGroup]="configForm" (ngSubmit)="generateBudget()">
        <div class="field" >
          <label for="percentageTax" class="block">Porcentagem do studio (-)</label>            
          <p-inputNumber (onInput)="generateBudget()" inputId="percentageTax" suffix="%" formControlName="percentageTax" [showButtons]="true"> </p-inputNumber> 
        </div>

        <div class="field" >
          <div class="formgroup-inline">
            <label for="parkingPrice" class="block">Transporte</label>
            <i class="pi pi-info-circle" (click)="showHint($event)" style="font-size: 0.8rem; color: #b19df7"></i>   
          </div>
          <p-inputNumber (onInput)="generateBudget()" formControlName="parkingPrice" inputId="parkingPrice" mode="currency" currency="BRL" locale="pt-BR" [showButtons]="true" [min]="0" [step]="0.5"> </p-inputNumber>                      
        </div>

        <div class="field" >
          <label for="creditTax" class="block">Acrécimo do cartão de crédito (R$)</label>
          <p-inputNumber (onInput)="generateBudget()" formControlName="creditTax" inputId="creditTax" mode="currency" currency="BRL" locale="pt-BR" [showButtons]="true" [min]="0" [step]="0.5"> </p-inputNumber>
        </div>

        <div class="field" >
          <label for="materials" class="block">Materiais (R$)</label>      
          <p-inputNumber (onInput)="generateBudget()" formControlName="materials" inputId="materials" mode="currency" currency="BRL" locale="pt-BR" [showButtons]="true" [min]="0" [step]="0.5"> </p-inputNumber>                                                 
        </div>
      </form>
    </p-tabPanel>
    <!-- Valores do corpo -->
    <p-tabPanel>
      <ng-template pTemplate="header">   
        <i class="pi pi-dollar"></i>        
        <i class="pi pi-user-edit"></i>        
      </ng-template>   

      <form [formGroup]="bodyPriceForm">          
        <div class="field" >
          <label for="virilha" class="block">Virilha</label>                 
          <p-inputNumber  class="w-full" (onInput)="generateBudget()" formControlName="virilha" inputId="virilha" suffix="%" [min]="0" [max]="100" [step]="0.5"> </p-inputNumber>                                                 
          <p-slider formControlName="virilha" (onSlideEnd)="handleSlide($event.value, 'virilha')"  class="w-full"></p-slider>  
        </div>

        <div class="field" >
          <label for="braco" class="block">Braco</label>                 
          <p-inputNumber  class="w-full" (onInput)="generateBudget()" formControlName="braco" inputId="braco" suffix="%" [min]="0" [max]="100" [step]="0.5"> </p-inputNumber>                                                 
          <p-slider formControlName="braco" (onSlideEnd)="handleSlide($event.value, 'braco')"  class="w-full"></p-slider>  
        </div>

        <div class="field" >
          <label for="perna" class="block">Perna</label>                 
          <p-inputNumber  class="w-full" (onInput)="generateBudget()" formControlName="perna" inputId="perna" suffix="%" [min]="0" [max]="100" [step]="0.5"> </p-inputNumber>                                                 
          <p-slider formControlName="perna" (onSlideEnd)="handleSlide($event.value, 'perna')"  class="w-full"></p-slider>  
        </div>

        <div class="field" >
          <label for="mao" class="block">Mão</label>                 
          <p-inputNumber  class="w-full" (onInput)="generateBudget()" formControlName="mao" inputId="mao" suffix="%" [min]="0" [max]="100" [step]="0.5"> </p-inputNumber>                                                 
          <p-slider formControlName="mao" (onSlideEnd)="handleSlide($event.value, 'mao')"  class="w-full"></p-slider>  
        </div>

        <div class="field" >
          <label for="pescoco" class="block">Pescoço</label>                 
          <p-inputNumber  class="w-full" (onInput)="generateBudget()" formControlName="pescoco" inputId="pescoco" suffix="%" [min]="0" [max]="100" [step]="0.5"> </p-inputNumber>                                                 
          <p-slider formControlName="pescoco" (onSlideEnd)="handleSlide($event.value, 'pescoco')"  class="w-full"></p-slider>  
        </div>

      </form>
    </p-tabPanel>
</p-tabView>
 
  <div *ngIf="(generatedBudget !== '')" class="flex flex-wrap">  
    <div class="formgroup-inline">
      <div class="pr-2">
        <i class="pi pi-wallet" style="font-size: 1rem; color: #93deac"></i>                  
      </div>
      <label style="color: #93deac" class="block"> R${{netValue}}</label>          
    </div> 

    <div class="pl-3">
      <div class="formgroup-inline">
        <div class="pr-2">
          <i class="pi pi-percentage" style="font-size: 1rem; color: #de9393"></i>                  
        </div>
        <label style="color: #de9393" class="block"> R${{studioPercent}}</label>          
      </div> 
    </div>

    <div class="pl-3">
      <div class="formgroup-inline">
        <div class="pr-2">
          <i class="pi pi-palette" style="font-size: 1rem; color: #93bade"></i>                  
        </div>          
        <label style="color: #93bade" class="block"> R${{netValue + studioPercent}}</label>          
      </div> 
    </div>      

    <div class="mt-3">
      <textarea id="generatedBudget" [(ngModel)]="generatedBudget" rows="5" cols="30" pInputTextarea [autoResize]="true"></textarea>      
    </div>
  </div>          

  <div class="mt-3">
    <p-button icon="pi pi-copy" *ngIf="generatedBudget" type="button" severity="success" title="Copiar texto" (click)="copyText()"></p-button>
  </div>

  <p-dialog header="Dica" [modal]="true" [closable]="true" position="bottom" [(visible)]="hintVisible" [style]="{width: '90vw'}">
    <p>
        Informe aqui os custos com metrô, gasolina e/ou estacionamento.
    </p>
  </p-dialog>