<div class="center-card">  
  <p-card header="Orc Tatu" [style]="{width: '360px'}">
    <form [formGroup]="budgetForm" (ngSubmit)="generateBudget()">
      <div class="field" >
        <label htmlFor="client" class="block">Cliente</label>
        <input type="text" pInputText formControlName="client"/>
        <small class="p-error block" *ngIf="budgetForm.get('client')?.invalid && budgetForm.get('client')?.dirty">Nome do cliente é obrigatório</small>
      </div>

      <div class="field" >
        <label htmlFor="valorcm" class="block">Valor do cm</label>
        <input type="text" pInputText formControlName="valorcm"/>
        <small class="p-error block" *ngIf="budgetForm.get('valorcm')?.invalid && budgetForm.get('valorcm')?.dirty"> valor obrigatório</small>
      </div>

      <div class="field" >
        <label htmlFor="cm" class="block">Tamanho (cm)</label>
        <input type="text" pInputText formControlName="cm"/>
        <small class="p-error block" *ngIf="budgetForm.get('cm')?.invalid && budgetForm.get('cm')?.dirty"> tamanho da tatuagem obrigatória</small>
      </div>

      <div class="field" >
        <label htmlFor="draw" class="block">Desenho</label>
        <input type="text" pInputText formControlName="draw"/>
        <small class="p-error block" *ngIf="budgetForm.get('draw')?.invalid && budgetForm.get('draw')?.dirty"> Nome do desenho obrigatório</small>
      </div>

      <div class="field">
        <label htmlFor="category" class="block">Categoria</label>
        <input type="text" pInputText formControlName="category"/>
        <small class="p-error block" *ngIf="budgetForm.get('category')?.invalid && budgetForm.get('category')?.dirty"> Descrição obrigatória</small>
      </div>

      <div class="field" >
        <label htmlFor="bodyLocal" class="block">Local no corpo</label>
        <input type="text" pInputText formControlName="bodyLocal"/>
        <small class="p-error block" *ngIf="budgetForm.get('bodyLocal')?.invalid && budgetForm.get('bodyLocal')?.dirty"> Local do corpo obrigatória</small>
      </div>
      
      <div class="field" >
        <label htmlFor="details" class="block">Detalhes</label>
        <input type="text" pInputText formControlName="details"/>
      </div>   

      <div class="formgroup-inline">
        <div class="field">
          <p-button type="submit" accessKey="enter" label="Orçar" [disabled]="budgetForm.invalid"></p-button>
        </div>

        <p-button type="button" label="Clear" (onClick)="resetForm()"></p-button>
      </div>

    </form>

    <div>
      {{generatedBudget}}
    </div>
      
    <br/>

    <p-button icon="pi pi-copy" *ngIf="generatedBudget" type="button" severity="success" title="Copiar texto" (click)="copyText()"></p-button>
  </p-card>

  
</div>
