.center-card {
    justify-content: center;
    display: flex;
}

.default-width-card {
    width: 360px;
}

.p-card {
    padding: 0 !important;
}

.filter-violet{
    filter: invert(73%) sepia(74%) saturate(2955%) hue-rotate(206deg) brightness(103%) contrast(94%);
}

.header-description {
  text-align: right;
  padding-right: 10px;
}
