<p-tabView styleClass="tabview-custom" [(activeIndex)]="indexTab">
    <!-- Orçamento -->

    <p-tabPanel>
      <ng-template pTemplate="header">
        <i class="pi pi-calculator"></i>
      </ng-template>

      <form [formGroup]="budgetForm" (ngSubmit)="generateBudget()">

        <div class="field" >
          <label for="client" class="block">Nome do cliente</label>
          <input type="text" id="client" (onInput)="generateBudget()" pInputText formControlName="client"/>
          <small class="p-error block" *ngIf="budgetForm.get('client')?.invalid && budgetForm.get('client')?.dirty">Preencha o nome do cliente</small>
        </div>

        <div class="field" >
          <label for="cm" class="block">Tamanho</label>
          <p-inputNumber inputId="cm" (onInput)="generateBudget()" formControlName="cm" suffix="cm" mode="decimal" [minFractionDigits]="2" [maxFractionDigits]="2" [showButtons]="true" [min]="1"> </p-inputNumber>
          <small class="p-error block" *ngIf="budgetForm.get('cm')?.invalid && budgetForm.get('cm')?.dirty">Preencha o tamanho</small>
        </div>

        <div class="field" >
          <label for="draw" class="block">Desenho</label>
          <input type="text" id="draw" (onInput)="generateBudget()" pInputText formControlName="draw"/>
          <small class="p-error block" *ngIf="budgetForm.get('draw')?.invalid && budgetForm.get('draw')?.dirty">Preencha o desenho</small>
        </div>


            <div class="field">
              <p-multiSelect id="style" (onChange)="generateBudget()" [options]="styles" formControlName="style" [filter]="false" optionLabel="name" placeholder="Categorias"></p-multiSelect>
              <small class="p-error block" *ngIf="budgetForm.get('style')?.invalid && budgetForm.get('style')?.dirty">Preencha o(s) estilo(s)</small>
            </div>

            <div class="field" >
              <p-multiSelect id="details" (onChange)="generateBudget()" [options]="details" formControlName="details" [filter]="false" optionLabel="name" placeholder="Detalhes"></p-multiSelect>
            </div>

            <div class="field" >
              <p-dropdown id="bodyLocal" (onChange)="generateBudget()" [options]="bodyLocal" formControlName="bodyLocal" optionLabel="name" [showClear]="true" placeholder="Local do corpo"></p-dropdown>
            </div>

        <div class="formgroup-inline mt-3">
          <div class="field">
            <p-button type="submit" accessKey="enter" label="Orçar" [disabled]="budgetForm.invalid"></p-button>
          </div>

          <p-button type="button" label="Limpar" severity="info" (onClick)="resetForm()"></p-button>
        </div>
      </form>
    </p-tabPanel>
    <!-- TAXAS -->
    <p-tabPanel>
      <ng-template pTemplate="header">
        <i class="pi pi-cog"></i>
      </ng-template>

      <form [formGroup]="configForm" (ngSubmit)="generateBudget()">
        <div class="field" >
          <label for="valorcm" class="block">Preço por centímetro</label>
          <p-inputNumber inputId="valorcm" (onInput)="generateBudget()" formControlName="valorcm" mode="currency" currency="BRL" locale="pt-BR" [showButtons]="true" [min]="1" [step]="0.5"> </p-inputNumber>
          <small class="p-error block" *ngIf="configForm.get('valorcm')?.invalid && configForm.get('valorcm')?.dirty">Preencha o preço por centímetro</small>
        </div>

        <div class="field" >
          <label for="percentageTax" class="block">Porcentagem do studio</label>
          <p-inputNumber (onInput)="generateBudget()" inputId="percentageTax" suffix="%" formControlName="percentageTax" [showButtons]="true"> </p-inputNumber>
        </div>

        <div class="field" >
          <div class="formgroup-inline">
            <label for="parkingPrice" class="block">Transporte</label>
            <i class="pi pi-info-circle" (click)="showHint($event)" style="font-size: 0.8rem; color: #b19df7"></i>
          </div>
          <p-inputNumber (onInput)="generateBudget()" formControlName="parkingPrice" inputId="parkingPrice" mode="currency" currency="BRL" locale="pt-BR" [showButtons]="true" [min]="0" [step]="0.5"> </p-inputNumber>
        </div>

        <div class="field" >
          <label for="creditTax" class="block">Acréscimo do cartão de crédito</label>
          <p-inputNumber (onInput)="generateBudget()" formControlName="creditTax" inputId="creditTax" mode="currency" currency="BRL" locale="pt-BR" [showButtons]="true" [min]="0" [step]="0.5"> </p-inputNumber>
        </div>

        <div class="field" >
          <label for="materials" class="block">Materiais</label>
          <p-inputNumber (onInput)="generateBudget()" formControlName="materials" inputId="materials" mode="currency" currency="BRL" locale="pt-BR" [showButtons]="true" [min]="0" [step]="0.5"> </p-inputNumber>
        </div>
      </form>
    </p-tabPanel>
    <!-- Valores do corpo -->
    <p-tabPanel *ngIf="false">
      <ng-template pTemplate="header">
        <i class="pi pi-dollar"></i>
        <i class="pi pi-user-edit"></i>
      </ng-template>

      <form [formGroup]="bodyPriceForm">
        <div class="field" >
          <label for="virilha" class="block">Virilha</label>
          <p-inputNumber  class="w-full" (onInput)="generateBudget()" formControlName="virilha" inputId="virilha" suffix="%" [min]="0" [max]="100" [step]="0.5"> </p-inputNumber>
          <p-slider formControlName="virilha" (onSlideEnd)="handleSlide($event.value, 'virilha')"  class="w-full"></p-slider>
        </div>

        <div class="field" >
          <label for="braco" class="block">Braco</label>
          <p-inputNumber  class="w-full" (onInput)="generateBudget()" formControlName="braco" inputId="braco" suffix="%" [min]="0" [max]="100" [step]="0.5"> </p-inputNumber>
          <p-slider formControlName="braco" (onSlideEnd)="handleSlide($event.value, 'braco')"  class="w-full"></p-slider>
        </div>

        <div class="field" >
          <label for="perna" class="block">Perna</label>
          <p-inputNumber  class="w-full" (onInput)="generateBudget()" formControlName="perna" inputId="perna" suffix="%" [min]="0" [max]="100" [step]="0.5"> </p-inputNumber>
          <p-slider formControlName="perna" (onSlideEnd)="handleSlide($event.value, 'perna')"  class="w-full"></p-slider>
        </div>

        <div class="field" >
          <label for="mao" class="block">Mão</label>
          <p-inputNumber  class="w-full" (onInput)="generateBudget()" formControlName="mao" inputId="mao" suffix="%" [min]="0" [max]="100" [step]="0.5"> </p-inputNumber>
          <p-slider formControlName="mao" (onSlideEnd)="handleSlide($event.value, 'mao')"  class="w-full"></p-slider>
        </div>

        <div class="field" >
          <label for="pescoco" class="block">Pescoço</label>
          <p-inputNumber  class="w-full" (onInput)="generateBudget()" formControlName="pescoco" inputId="pescoco" suffix="%" [min]="0" [max]="100" [step]="0.5"> </p-inputNumber>
          <p-slider formControlName="pescoco" (onSlideEnd)="handleSlide($event.value, 'pescoco')"  class="w-full"></p-slider>
        </div>

      </form>
    </p-tabPanel>
    <!-- Historico -->
    <p-tabPanel *ngIf="!free" >
      <ng-template pTemplate="header">
        <i class="pi pi-list"></i>
      </ng-template>

      <app-historic></app-historic>

    </p-tabPanel>
</p-tabView>

  <div *ngIf="(generatedBudget !== '') && !budgetForm.invalid" class="flex flex-wrap">
    <div class="formgroup-inline">
      <div class="pr-2">
        <i class="pi pi-wallet" style="font-size: 1rem; color: #93deac"></i>
      </div>
      <label style="color: #93deac" class="block"> R${{netValue}}</label>
    </div>

    <div class="pl-3">
      <div class="formgroup-inline">
        <div class="pr-2">
          <i class="pi pi-percentage" style="font-size: 1rem; color: #de9393"></i>
        </div>
        <label style="color: #de9393" class="block"> R${{studioPercent}}</label>
      </div>
    </div>

    <div class="pl-3">
      <div class="formgroup-inline">
        <div class="pr-2">
          <i class="pi pi-palette" style="font-size: 1rem; color: #93bade"></i>
        </div>
        <label style="color: #93bade" class="block"> R${{netValue + studioPercent}}</label>
      </div>
    </div>

    <div class="mt-3">
      <textarea id="generatedBudget" [(ngModel)]="generatedBudget" rows="5" cols="30" pInputTextarea [autoResize]="true"></textarea>
    </div>
  </div>
  <div class="flex flex-row-reverse flex-wrap" *ngIf="generatedBudget && !budgetForm.invalid">
    <div *ngIf="!free" class="formgroup-inline col-2">
      <p-button icon="pi pi-copy"  type="button" severity="success" title="Copiar e Salvar texto" (click)="saveBudget()">
        <i class="pi pi-save"></i>
      </p-button>
    </div>
    <div class="formgroup-inline col-2">
      <p-button icon="pi pi-copy"  type="button"  title="Copiar texto" (click)="copyText()">
      </p-button>
    </div>
  </div>

  
  <p-dialog header="Dica" [modal]="true" [closable]="true" position="bottom" [(visible)]="hintVisible" [style]="{width: '90vw'}">
    <p>
        Informe aqui os custos com metrô, gasolina e/ou estacionamento.
    </p>
  </p-dialog>
